<div class="container mt-5">
  <h2>Modifier Produit</h2>
  <form (ngSubmit)="updateClient()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="nom" class="form-label">Nom:</label>
        <input type="text" id="nom" [(ngModel)]="produit.nom" name="nom" class="form-control" required />
      </div>
      <div class="col-md-6 mb-3">
        <label for="marque" class="form-label">Marque:</label>
        <input type="text" id="marque" [(ngModel)]="produit.marque" name="marque" class="form-control" required />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="prix" class="form-label">Prix:</label>
        <input type="number" id="prix" [(ngModel)]="produit.prix" name="prix" class="form-control" required />
      </div>
      <div class="col-md-6 mb-3">
        <label for="qteStock" class="form-label">Quantité:</label>
        <input type="number" id="qteStock" [(ngModel)]="produit.qteStock" name="qteStock" class="form-control" required />
      </div>
    </div>

    <button type="submit" class="Wbtn">{{ produit.id ? 'Update' : 'Add' }}</button>
  </form>
</div>
