<nav class="navbar">
  <div class="likeInput">
    <i class="fa-solid fa-arrow-trend-up" style="margin-right: 10px;"></i>
    Manage your sales
  </div>

  <div class="content">
    <div class="focusz">
      <a routerLink="/">
        <i class="fa-solid fa-house"></i> Home
      </a>
    </div>
    <a routerLink="/clients">
      <i class="fa-solid fa-user"></i> Customers
    </a>
    <a routerLink="/produits">
      <i class="fa-solid fa-box"></i> Products
    </a>
    <a routerLink="/ventes">
      <i class="fa-solid fa-cart-shopping"></i> Sales
    </a>
    <a routerLink="/stati">
      <i class="fa-solid fa-arrow-trend-up"></i> Insights
    </a>
    <a routerLink="/ventes">
      <i class="fa-solid fa-file"></i> Factures
    </a>
  </div>

  <!-- Affichage conditionnel pour Login/Logout -->
  <div class="auth-button">
    <button *ngIf="!isAuthenticated()" (click)="redirectToLogin()">
      <i class="fa-solid fa-right-to-bracket" style="margin-right: 10px;"></i> Login
    </button>
    <button *ngIf="isAuthenticated()" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket" style="margin-right: 10px;"></i> Logout
    </button>
  </div>
</nav>
