.container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}
 

.ventes-list-card {
  margin-left: 170px;
  width: 60vw; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(155, 152, 152, 0.1);
  background-color: #F5F7F8;
 
}
.no-products-message {
  text-align: center;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.no-products-message i {
  margin-right: 10px;
}

.Wbtn{
  border: 1px solid gray;
    border-radius: 15px;
    padding:7px 23px; 
    background-color: #EEEEEE;
    color: black;
    
}
.Wbtn:hover{
  color: white;
  background-color: grey;
}

.ventes-list-card h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
}



.Edit:hover {
  color: white;
  background-color: rgb(49, 235, 86);
}
.Edit{
  background-color: rgb(105, 224, 129);
}

.Edit, .delete {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px 0; 
  text-align: center;
  font-size: 14px; 
  color: black;
  width: 10%; 
display: inline-flex;
  justify-content: center;
  align-items: center;
}
.delete{
  background-color: rgb(232, 103, 103);
}

.delete:hover {
  color: white;
  background-color: rgb(235, 70, 70);
}

@media (min-width: 768px) {
  .Edit, .delete {
    width: 30%; /* 30% sur les écrans moyens et plus grands */
    margin-right: 15px;
  }
}