<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"> 
<div class="container"><div class="ventes-list-card">
  <h2>Liste des ventes</h2>

  <!-- Vérifier si le tableau des ventes est vide -->
  <div *ngIf="ventes.length === 0" class="no-products-message">
    <i class="fas fa-exclamation-circle"></i> Aucune vente à afficher
  </div>

  <!-- Table des ventes avec les classes Bootstrap -->
  <table *ngIf="ventes.length > 0" class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        
        <th>Produit</th>
        <th>Quantité</th>
        <th>Date</th>
        <th>Client</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vente of ventes">
        
        <td>{{ vente.produitName }}</td>
        <td>{{ vente.quantite }}</td>
        <td>{{ vente.date }}</td>
        <td>{{ vente.clientName }}</td>
        <td>
          <button (click)="deleteVente(vente.id)" class="btn btn-danger btn-sm delete">
            <i class="fas fa-trash"></i> Delete
          </button>
          <a [routerLink]="['/vente-edit', vente.id]" class="btn btn-warning btn-sm Edit">
            <i class="fas fa-edit"></i> Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <a routerLink="/vente-add" class="btn btn-primary mb-3 Wbtn">Add Vente</a>
</div>
</div>
