<h2>Liste des ventes</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Produit</th>
      <th>Quantité</th>
      <th>Date</th>
      <th>Client</th>
      
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vente of ventes">
      <td>{{ vente.id }}</td>
      <td>{{ vente.produit }}</td>
      <td>{{ vente.quantite }}</td>
      <td>{{ vente.date }}</td>
      <td>{{ vente.client }}</td>
      
     
      <td>
        <!-- Pour modifier je dois passer les ids des ventes pour récupérer les informations de la vente lors de la modification  -->
        <button (click)="deleteVente(vente.id)">Delete</button>
        <a [routerLink]="['/vente-edit', vente.id]" class="btn btn-warning btn btn-warning btn-sm Edit mb-2 mb-sm-0  Edit">
          <i class="fas fa-edit"></i> Edit
        </a>
        
        

      </td>
    </tr>
  </tbody>
</table>
