/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: black;
  color: white;
  padding: 20px;
  position: fixed;
  height: 100%;
 
}

/* Main Content */
.main-content {
  flex: 1;
  margin-left: 250px; 
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  
}

.header {
  background-color: white;
  color: black;
  padding: 20px;
  font-size: 1.5rem;
  z-index: 1;
  height: 8%;
  position: relative;
 
 
}

.content {
  flex: 1;
  background-color: #ecf0f1;
  padding: 20px;
height: calc(100vh - 80px);
}

/* Responsiveness */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: row;
  }

  .sidebar {
    width: 200px; /* Réduit légèrement la largeur */
    padding: 15px; /* Réduit le padding */
    font-size: 0.9rem; /* Réduit la taille du texte */
  }

  .main-content {
    margin-left: 200px; /* Ajuste en fonction de la largeur réduite de la sidebar */
  }

  .x

  .content {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 150px; /* Réduction supplémentaire de la largeur */
    padding: 10px;
    font-size: 0.8rem; /* Texte encore plus petit pour économiser l'espace */
  }

  .main-content {
    margin-left: 150px;
  }

  .header {
    font-size: 1rem; /* Réduit encore la taille du texte */
    padding: 10px;
  }

  .content {
    padding: 10px;
  }
}
