.container {
    background-color: rgb(244, 246, 248);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour un effet visuel élégant */
    gap: 50px; 
}
   




.form-section {
    flex: 1; /* Le formulaire occupe une part égale avec l'image */
    margin-right: 20px; /* Ajout d'un espacement pour éviter qu'ils ne soient trop proches */
    margin-top: 50px;
    padding: 2px;
}

.form-section input{
    width:70%;
}
.form-section h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:black;
}
.addclient{
    width: 40%
}


.Wbtn{
    border: 1px solid gray;
    border-radius: 15px;
    padding:7px 23px; 
    background-color: rgb(63, 68, 73);
    color: white;
    width: 30%;
    
}
.Wbtn:hover{
    color: black;
    background-color: lightgray;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        padding: 20px; 
        margin-left:30px;
    }
    .form-section input{
        width:100%;
    }

    .form-section {
        margin-right: 0; /* Suppression de la marge sur les petits écrans */
        margin-bottom: 20px; /* Espacement entre les deux sections */
    }
    .addclient{
        width:100%;
    }
    .Wbtn{
        width:100%;
    }
}
