<div class="client-list-card">
    <h2>Produit List</h2>
    <a routerLink="/add-produit">Add Produit</a>
    
    <table class="client-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Marque</th>
          <th>Prix</th>
          <th>Quantité de stock</th>
          <th>Actions</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of produits">
          <td>{{ produit.nom }}</td>
          <td>{{ produit.marque }}</td>
          <td>{{ produit.prix }}</td>
          <td>{{ produit.qteStock }}</td>
          
          <td>
            <a [routerLink]="['/edit-produit', produit.id]" class="btn btn-warning btn btn-warning btn-sm Edit mb-2 mb-sm-0  Edit">
              <i class="fas fa-edit"></i> Edit
            </a>
            <button (click)="deleteProduit(produit.id)" class="btn btn-danger btn-sm delete">
              <i class="fas fa-trash"></i> Delete
            </button>
        </td>
          
          
        </tr>
      </tbody>
    </table>
  </div>